body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.main-wrapper {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

/* Search Input Form - Start */

.update-search-btn,
.location-input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.location-input {
  font-weight: 400;
}

.update-search-btn {
  font-weight: 500;
}
/* Search Input Form - End */

/* Current Weather Column - Start */
.current-weather-wrapper {
  margin: 20px 0px;
  align-items: center;
}

.current-city {
  font-size: 38px;
  font-weight: 700;
}

.current-date {
  font-size: 24px;
  font-weight: 700;
}

.current-time {
  font-size: 22px;
  font-weight: 300;
}

.current-weather-icon {
  height: 100px;
}

.temp-wrapper {
  align-items: center;
}

.current-temperature {
  font-size: 36px;
  font-weight: 700;
}

.current-condition {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/* Current Weather Column - End */

/* Refresh Button - Start */
.btn-refresh {
  font-size: 18px;
  cursor: pointer;
  padding-top: 12px;
}
/* Refresh Button - End */

/* Toggle Units Button - Start */
.btn-toggle-units {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 3px;
  height: fit-content;
  align-self: flex-start;
  margin-top: 20px;
}
/* Toggle Units Button - End */

/* Data Icons - Start */
.icn-x-small,
.icn-small {
  display: block;
  margin: 0 auto;
}
.icn-x-small {
  height: 20px;
}
.icn-small {
  height: 25px;
}
/* Data Icons - End */

/* Data Text - Start */
.data-label {
  text-align: center;
  line-height: 20px;
}

.data-label h4 {
  font-size: 22px;
  font-weight: 700;
}

.data-label p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
/* Data Text - End */

.footer-link {
  text-align: center;
}
